server_audit.so filter=lfs diff=lfs merge=lfs -text
dialog.so filter=lfs diff=lfs merge=lfs -text
ha_mroonga.so filter=lfs diff=lfs merge=lfs -text
ha_oqgraph.so filter=lfs diff=lfs merge=lfs -text
adt_null.so filter=lfs diff=lfs merge=lfs -text
sql_errlog.so filter=lfs diff=lfs merge=lfs -text
type_test.so filter=lfs diff=lfs merge=lfs -text
debug_key_management.so filter=lfs diff=lfs merge=lfs -text
func_test.so filter=lfs diff=lfs merge=lfs -text
mypluglib.so filter=lfs diff=lfs merge=lfs -text
sha256_password.so filter=lfs diff=lfs merge=lfs -text
auth_gssapi.so filter=lfs diff=lfs merge=lfs -text
caching_sha2_password.so filter=lfs diff=lfs merge=lfs -text
qa_auth_interface.so filter=lfs diff=lfs merge=lfs -text
ha_spider.so filter=lfs diff=lfs merge=lfs -text
qa_auth_client.so filter=lfs diff=lfs merge=lfs -text
qa_auth_server.so filter=lfs diff=lfs merge=lfs -text
test_versioning.so filter=lfs diff=lfs merge=lfs -text
wsrep_info.so filter=lfs diff=lfs merge=lfs -text
client_ed25519.so filter=lfs diff=lfs merge=lfs -text
dialog_examples.so filter=lfs diff=lfs merge=lfs -text
ha_example.so filter=lfs diff=lfs merge=lfs -text
handlersocket.so filter=lfs diff=lfs merge=lfs -text
libdaemon_example.so filter=lfs diff=lfs merge=lfs -text
simple_password_check.so filter=lfs diff=lfs merge=lfs -text
test_sql_service.so filter=lfs diff=lfs merge=lfs -text
auth_ed25519.so filter=lfs diff=lfs merge=lfs -text
auth_test_plugin.so filter=lfs diff=lfs merge=lfs -text
daemon_example.ini filter=lfs diff=lfs merge=lfs -text
example_key_management.so filter=lfs diff=lfs merge=lfs -text
ha_federated.so filter=lfs diff=lfs merge=lfs -text
ha_rocksdb.so filter=lfs diff=lfs merge=lfs -text
mysql_clear_password.so filter=lfs diff=lfs merge=lfs -text
type_mysql_json.so filter=lfs diff=lfs merge=lfs -text
auth_0x0100.so filter=lfs diff=lfs merge=lfs -text
auth_gssapi_client.so filter=lfs diff=lfs merge=lfs -text
disks.so filter=lfs diff=lfs merge=lfs -text
